$breakpoint_xs: 320px;
$breakpoint_sm: 576px;
$breakpoint_md: 768px;
$breakpoint_lg: 992px;
$breakpoint_xl: 1200px;

$font_color: #333;

$sidenav_width: 250px;
$header_height: 70px;
$header_height_sm: 60px;
